# Ignore everything
*

# Allow backend only
!backend/
!backend/**

# Allow gitignore
!.gitignore

# Python
venv/
__pycache__/
*.pyc

# Env files
.env
.env.*

# DB / artifacts
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db