# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# ML artifacts
artifacts/
*.joblib

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (frontend)
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/